<div class="centered-content">
  <div class="flex w-full h-full max-h-96 justify-center">
    <div class="container">
      <h1 class="text-center" id="logo">
        Platr
      </h1>
      <h5>
        Create a New Account
      </h5>
      <div class="flex-col justify-end">
        <form>
          <label for="name">NAME</label>
          <input type="text" id="name" name="name" placeholder="Username"><br/>
          
          <label for="email">EMAIL</label>
          <input type="email" id="email" name="email" placeholder=".......@gmail.com"><br/>
          
          <label for="phone">PHONE</label>
          <input type="tel" id="phone" name="phone" placeholder="Phone number"><br/>
          
          <label for="password">PASSWORD</label>
          <input type="password" id="password" name="password" placeholder="******">
        </form>
      </div>
      
      <br/>
      <a routerLink=" ">
      <button class="create-account-button">
        CREATE ACCOUNT
      </button>
      </a>
      <h6>
        Already have an account? <a routerLink="login">Login</a>
      </h6>
    </div>
  </div>
</div>

