<div class="centered-content">
  <div class="flex w-full h-full max-h-96 justify-center">
<div style="background-color: rgb(248, 202, 209);" class="container" >
    <h1 class="text-centre" style="color: rgb(250, 140, 158);">
      Platr
     </h1>
    <h2>
      Create Account
    </h2>
    <h5>
      Create a new account
    </h5 >
    <div flex-col justify-end>
    <form>
      <P>NAME</P>
         <input type="name" name="name" placeholder="user name"><br/>
      <p>EMAIL</p>
      <input type="email" name="email" placeholder=".......@gmail.com"><br/>
      <p>PHONE</p>
      <input type="number" name="number" placeholder="phone number"><br/>
      <p>PASSWORD</p> 
      <input type="password" name="password" placeholder="******">
    
    </form> </div>
    <br/>
    <b>
     <a routerlink=" ">
       <button length="50px" style="background-color: pink;" >
        CREATE ACCOUNT
      </button>
    </a>
    </b>
    <h6>
      Already have an account?
       <a routerlink="login" > Login </a>
    </h6>
    </div></div></div>
