$primary-color: rgb(250, 140, 158);
$secondary-color: pink;

.centered-content {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.container {
background-color: rgb(248, 202, 209);
padding: 40px;
text-align: center;
border-radius: 8px;
width: 100%;
max-width: 400px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#logo {
  color: $primary-color;
}

h5 {
  margin-top: 10px;
}

form {
  margin-top: 20px;
  
  label {
    display: block;
    text-align: left;
    margin-bottom: 4px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.create-account-button {
  background-color: $secondary-color;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}