input{
    padding: 10px;
    text-size-adjust: 10px;
    width: 250px;
    height: 10px;
    
}
*{
    margin: 0%;
}

p{
    font-size: 18px;
}
.cotainer{
    height: 600px;
}
*{
    text-align: center;
}

*{
    line-height:normal;
}