<div class="centered-content">
  <div class="flex w-full h-full max-h-96 justify-center">
    <div class="container">
      <h1 class="text-center" style="color: rgb(250, 140, 158);">
        Platr
      </h1>
      <h2>
        Welcome Back
      </h2>
      <h5>
        Login to Continue
      </h5>
      <div class="flex-col justify-end">
        <form [formGroup]="form">
          <label for="email">EMAIL</label>
          <input type="email" id="email" name="email" placeholder=" " [formControlName]="'email'"><br />

          <label for="password">PASSWORD</label>
          <input type="password" id="password" name="password" placeholder="******" [formControlName]="'password'">
        </form>
      </div>

      <br />
      <b>
        <button class="login-button" routerLink="/bucket" (click)="login()">
          LOGIN
        </button>
      </b>
      <h6>
        Don't have an account? <a routerLink="signup">Create a new account</a>
      </h6>
    </div>
  </div>
</div>