<div class="centered-content">
  <div class="flex w-full h-full max-h-96 justify-center">
    <div class="container">
      <h1 class="text-center" style="color: rgb(250, 140, 158);">
        Platr
      </h1>
      <h2>
        Welcome Back
      </h2>
      <h5>
        Login to Continue
      </h5>
      <div class="flex-col justify-end">
        <form>
          <label for="email">EMAIL</label>
          <input type="email" id="email" name="email" placeholder=" "><br/>

          <label for="password">PASSWORD</label>
          <input type="password" id="password" name="password" placeholder="******">
        </form>
      </div>

      <br />
      <b>
        <button class="login-button" routerLink="/home">
          LOGIN
        </button>
      </b>
      <h6>
        Don't have an account? <a href="signup" onclick="navigateTo()">Create a new account</a>
      </h6>
    </div>
  </div>
</div>


<div class="centered-content">
  <div class="flex w-full h-full max-h-96 justify-center">
    <div class="container">
      <h1 class="text-center" id="logo">
        Platr
      </h1>
      <h2>
        Welcome Back
      </h2>
      <h5>
        Login to Continue
      </h5>
      <div class="flex-col justify-end">
        <form>
          <label for="email">EMAIL</label>
          <input type="email" id="email" name="email" placeholder=" "><br/>

          <label for="password">PASSWORD</label>
          <input type="password" id="password" name="password" placeholder="******">
        </form>
      </div>

      <br />
      <b>
        <button class="login-button" routerLink="/home">
          LOGIN
        </button>
      </b>
      <h6>
        Don't have an account? <a (click)="navigateTo()">Create a new account</a>
      </h6>
    </div>
  </div>
</div>






