<div class="centered-content">
    <div class="container">
        <h1 class="">
            Create a new task
        </h1>
        <input #taskTitle type="text" placeholder="Create new task" class="project-title">

        <div class="flex items-end justify-end space-x-2 mt-5">
            <button class="button cancel-button" routerLink="/home">Cancel</button>
            <button class="button create-button" (click)="createNewTask(taskTitle.value)">Create</button>
        </div>
    </div>
</div>