<div class="centered-content">

    <div class="user-info">
        <h3>{{userName}} Dashboard</h3>
        <span (click)="logout()">LogOut <i class="logout-icon fas fa-sign-out-alt"></i></span>
    </div>

    <div class="home">
        <div class="project-container">
            <h1 class="title">Projects</h1>
            <div class="project">
                <div class="project-status p-4">
                    <ul class="project-list gap-4">
                        <li *ngFor="let bucket of buckets" class="project-link" (mouseenter)="bucket.hovered = true"
                            (mouseleave)="bucket.hovered = false" [routerLink]="['/bucket', bucket._id]"
                            [ngClass]="{'active': bucket.active}">

                            <span *ngIf="!bucket.editable">{{ bucket.name }}</span>

                            <input *ngIf="bucket.editable" [(ngModel)]="editableBucketTitle"
                                (blur)="onSaveBucketTitle(bucket); onBucketTitleBlur(bucket)"
                                (keyup.enter)="onSaveBucketTitle(bucket)">

                            <i class="pen-icon fas fa-pencil-alt" (click)="onEditBucketTitle(bucket)"
                                *ngIf="!bucket.editable && !bucket.saveMode"></i>

                            <i class="delete-icon fas fa-trash-alt" (click)="onDeleteBucket(bucket)"
                                *ngIf="bucket.hovered && !bucket.editable && !bucket.saveMode"></i>
                        </li>

                    </ul>
                </div>
            </div>
            <button class="button-bucket" routerLink="/new-bucket">
                + New Project
            </button>

        </div>
        <div class="task-container">
            <h1 class="title">TASK VIEW</h1>
            <div class="task-grid" cdkDropListGroup>
                <div class="task-status" id="noneTasks" cdkDropList [cdkDropListData]="noneTasks"
                    (cdkDropListDropped)="drop($event, 'none')">
                    <h4 class="status">
                        Tasks
                        <i class="add-icon fas fa-plus-circle" (click)="addNewTask()"></i>
                    </h4>
                    <ul class="task-list">
                        <div *ngFor="let task of noneTasks" class="task-link" (mouseenter)="task.hovered = true"
                            (mouseleave)="task.hovered = false" cdkDrag [cdkDragData]='task'>

                            <span *ngIf="!task.editable">{{ task.name }}</span>

                            <input *ngIf="task.editable" [(ngModel)]="editableTaskTitle"
                                (blur)="onSaveTaskTitle(task); onTaskTitleBlur(task)"
                                (keyup.enter)="onSaveTaskTitle(task)">

                            <i class="pen-icon fas fa-pencil-alt" (click)="onEditTaskTitle(task)"
                                *ngIf="!task.editable && !task.saveMode"></i>

                            <i class="delete-icon fas fa-trash-alt" (click)="onDeleteTask(task)"
                                *ngIf="task.hovered && !task.editable && !task.saveMode"></i>
                        </div>
                    </ul>
                </div>
                <div class="task-status">
                    <h4 class="status">Ongoing</h4>
                    <ul id="ongoingTasks" class="task-list" cdkDropList [cdkDropListData]="ongoingTasks"
                        (cdkDropListDropped)="drop($event, 'ongoing')">
                        <li *ngFor="let task of ongoingTasks" class="task-link" (mouseenter)="task.hovered = true"
                            (mouseleave)="task.hovered = false" cdkDrag [cdkDragData]='task'>
                            <span>{{ task.name }}</span>
                        </li>
                    </ul>
                </div>
                <div class="task-status">
                    <h4 class="status">Completed</h4>
                    <ul id="completedTasks" class="task-list" cdkDropList [cdkDropListData]="completedTasks"
                        (cdkDropListDropped)="drop($event, 'completed')">
                        <li *ngFor="let task of completedTasks" class="task-link" (mouseenter)="task.hovered = true"
                            (mouseleave)="task.hovered = false" cdkDrag [cdkDragData]='task'>
                            <span>{{ task.name }}</span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>