.home {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 24rem;
    justify-content: center;
}

.project-container {
    background-color: #fff;
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.5rem;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    position: relative;
}

.project {
    display: flex;
    flex-direction: column;

    .project-status {
        background-color: #fff;
        border-radius: 0.375rem;
        padding: 1rem;
        max-height: 300px;
        overflow-y: auto;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    }

    .project-list {
        list-style: none;
        padding: 0;
    }

    .project-link.active {
        background-color: #fc6c85;
    }

    .project-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem;
        margin-bottom: 1rem;
        border-radius: 0.25rem;
        color: #5f5f5f;
        background-color: #FFC0CB;
        text-decoration: none;
        position: relative;
        transition: background-color 0.3s, transform 0.2s;

        &:hover {
            background-color: #fc6c85;
            transform: scale(1.02);

            .pen-icon {
                visibility: visible;
            }
        }

        .pen-icon {
            font-size: 1rem;
            color: gray;
            visibility: hidden;
            transition: visibility 0.3s;

            .pen-icon-text {
                display: inline-block;
                font-weight: bold;
                margin-left: 3px;
            }
        }
    }

}

.task-container {
    background-color: #FF69B4;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 2rem 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    width: 100%;


}

.title {
    color: #000;
    font-weight: 800;
    text-align: center;
}

.task-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.75rem;
    padding: 0 0.5rem;


}

.task-status {
    background-color: #fff;
    border-radius: 0.375rem;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
}

.status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 10px;
    z-index: 1;

    .add-icon {
        font-size: 1.2rem;
        color: #5f5f5f;
        margin-right: 0.5rem;
        cursor: pointer;

        &:hover {
            color: #FF69B4;
        }
    }
}

.task-list {
    list-style: none;
    padding: 0;

    .task-link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;
        border-radius: 0.25rem;
        width: 100%;
        color: #5f5f5f;
        background-color: #FFC0CB;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s;
        position: relative;
        transition: background-color 0.3s;

        &:hover {
            background-color: #f0f0f0;

            .pen-icon {
                visibility: visible;
            }

            .delete-icon {
                visibility: visible;
            }

            .save-icon {
                visibility: visible;
            }
        }

        .pen-icon {
            margin-left: auto;
            font-size: 1rem;
            color: gray;
            visibility: hidden;
            transition: visibility 0.3s;
            cursor: pointer;

            .pen-icon-text {
                display: inline-block;
                font-weight: bold;
                margin-left: 3px;
            }
        }

        .delete-icon {
            margin-left: auto;
            font-size: 1rem;
            color: gray;
            visibility: hidden;
            cursor: pointer;
            transition: visibility 0.3s;

            .delete-icon-text {
                display: inline-block;
                font-weight: bold;
                margin-left: 3px;
            }
        }

        .save-icon {
            margin-left: auto;
            font-size: 1rem;
            color: gray;
            visibility: hidden;
            cursor: pointer;
            transition: visibility 0.3s;

            .save-icon-text {
                display: inline-block;
                font-weight: bold;
                margin-left: 5px;
            }
        }
    }
}