<div class="centered-content">
    <div class="home">
        <div class="project-container">
            <h1 class="title">Projects</h1>
            <div class="project">
                <a *ngFor="let project of projects" class="project-link">
                    {{project.name}}
                </a>

                <button class="button" routerLink="/new-list">
                    +New Project
                </button>
            </div>
        </div>
        <div class="task-container">
            <h1 class="title">Task</h1>
            <div class="task-grid">
                <div class="task-status">
                    <h4 class="status">Todo Task</h4>
                    <p>Task i need to do</p>
                </div>
                <div class="task-status">
                    <h4 class="status">Ongoing Task</h4>
                    <p>Currently Ongoing.</p>
                </div>
                <div class="task-status">
                    <h4 class="status">Completed Task</h4>
                    <p>Task completed.</p>
                </div>
            </div>
        </div>
    </div>
</div>