<div class="centered-content">
    <div class="container">
        <h1 class="">
            Create a new project
        </h1>
        <input #projectTitle type="text" placeholder="Create new project" class="project-title">

        <div class="flex items-end justify-end space-x-2 mt-5">
            <button class="button cancel-button" routerLink="/home">Cancel</button>
            <button class="button create-button" (click)="createNewProject(projectTitle.value)">Create</button>
        </div>
    </div>
</div>